.app-logo {
    height: 90px;
    margin-top: 8px;
    padding-left: 20px;
    animation-name: sunny;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.app-header {
    background-color: rgb(79, 136, 241);
    height: 105px;
    color: black;
}

.app-title {
    padding-top: 2px;
    font-size: 90px;
    font-weight: bold;
    text-shadow: 3px 3px 10px #FFFF99;
}

@keyframes sunny {
    from { opacity: 1; }
    to { opacity: 0.75; }
}